In [1]:
d=[2,5,11,92,29,]
for i in range(len(d)-1):
    for j in range(len(d)-1-i):
        if d[j]>d[j+1]:
            d[j],d[j+1]=d[j+1],d[j]
print(d)

[2, 5, 11, 29, 92]

In [2]:
d=[2,5,11,92,29,]
for i in range(len(d)):
    mi=i
    for j in range(i+1,len(d)):
        if d[mi]>d[j]:
            mi=j
        d[i],d[mi]=d[mi],d[i]
print(d)

[2, 5, 11, 29, 92]

In [4]:
#Example for For Loop
for letter in 'python':
    print('character is ',letter)

character is  p
character is  y
character is  t
character is  h
character is  o
character is  n

In [12]:
for letter in [10,20,30,40]:
    print(letter)

10
20
30
40

In [14]:
for letter in [10,20,30,40]:
    if letter>=25:
        print(letter,'greater than 25')
    else:
        print(letter,'less than 25')

10 less than 25
20 less than 25
30 greater than 25
40 greater than 25

In [9]:
d=[10,20,30,40]
for i in d:
    print(i)

10
20
30
40

In [17]:
#Example for While Loop
count=1
while count<=5:
    print(count)
    count+=1
print('good bye')

1
2
3
4
5
good bye

In [1]:
n=-11
while n<-1:
    print(n)
    n+=1

-11
-10
-9
-8
-7
-6
-5
-4
-3
-2

In [4]:
x=list(range(-5,3,3))
print(x)

[-5, -2, 1]

In [2]:
for i in range(11,23):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22

In [5]:
n=11
while n<23:
    print(n)
    n+=1

11
12
13
14
15
16
17
18
19
20
21
22

In [4]:
for i in range(1,5+1):
    for j in range(1,5+1):
        print(i,j)
        if j==3:
            break

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3
5 1
5 2
5 3