In [3]:
d=5
for x in range(d):
    for y in range(d):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [21]:
d=5
n=7
for x in range(5):
    for y in range(7):
        print('*',end=' ')
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [8]:
d=7
st=1
sp=d-1
for a in range(d):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    st+=1
    sp-=1

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [9]:
d=7
st=d
for m in range(d):
    for n in range(st):
        print('*',end=' ')
    print()
    st-=1

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
d=7
st=7
sp=0
for p in range(d):
    for q in range(sp):
        print(' ',end=' ')
    for r in range(st):
        print('*',end=' ')
    print()
    st-=1
    sp+=1

* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [25]:
d=7
st=1
sp=d-1
for x in range(d):
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print('*',end=' ')
    print()
    st+=2
    sp-=1

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [2]:
d=7
st=2*d-1
sp=0
for x in range(d):
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print('*',end=' ')
    print()
    st-=2
    sp+=1

* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [7]:
n=7
st=1
sp=n//2
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [2]:
n=7
sp=n-1
st=1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        sp-=1
        st+=1
    else:
        sp+=1
        st-=1

            *
          * *
        * * *
      * * * *
        * * *
          * *
            *

In [2]:
n=7
sp=n-n
st=n-n+1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print('*',end=' ')
    print()
    if a<n//2:
        sp+=0
        st+=1
    else:
        sp-=0
        st-=1

*
* *
* * *
* * * *
* * *
* *
*

In [5]:
n=7
sp=n-1
st=1
for x in range(n):
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print('*',end=' ')
    print()
    if x<n//2:
        sp+=1
    else:
        sp-=1

            *
              *
                *
                  *
                *
              *
            *

In [11]:
n=7
sp=n-1
st=1
for x in range(n):
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print('*',end=' ')
    print()
    if x<n//2:
        sp-=1
    else:
        sp+=1

            *
          *
        *
      *
        *
          *
            *

In [5]:
n=5
num=1
for x in range(n):
    for y in range(n):
        print(num,end=' ')
    print()
    num+=1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [2]:
n=5
num=1
st=n
for x in range(n):
    num=1
    for y in range(st):
        print(num,end=' ')
        num+=1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [31]:
n=5
st=1
for x in range(n):
    num=1
    for y in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
n=5
st=1
for x in range(n):
    num=5
    for y in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=1

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [8]:
n=5
st=1
sp=n-1
for x in range(n):
    num=1
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num+=1
    print()
    st+=2
    sp-=1

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [11]:
n=5
st=1
sp=n-1
for a in range(n):
    num=st
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num-=1
    print()
    st+=2
    sp-=1

        1
      3 2 1
    5 4 3 2 1
  7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [6]:
n=5
st=1
sp=n-1
for a in range(n):
    num=5
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num-=1
    print()
    if a<n//2: 
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

        5
      5 4 3
    5 4 3 2 1
      5 4 3
        5

In [25]:
n=7
st=1
sp=n//2
for a in range(n):
    num=1
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num=num+1 if c<st//2 else num-1
    print()
    if a<n//2: 
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1

In [28]:
n=9
st=1
sp=n//2
for a in range(n):
    num=sp+1
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num=num+1 if c<st//2 else num-1
    print()
    if a<n//2: 
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

        5
      4 5 4
    3 4 5 4 3
  2 3 4 5 4 3 2
1 2 3 4 5 4 3 2 1
  2 3 4 5 4 3 2
    3 4 5 4 3
      4 5 4
        5

In [34]:
n=7
st=1
sp=n//2
for a in range(n):
    num=st//2+1
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num=num-1 if c<st//2 else num+1
    print()
    if a<n//2: 
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4
  3 2 1 2 3
    2 1 2
      1

In [36]:
n=9
st=1
sp=n//2
for a in range(n):
    num=5
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num=num-1 if c<st//2 else num+1
    print()
    if a<n//2: 
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

        5
      5 4 5
    5 4 3 4 5
  5 4 3 2 3 4 5
5 4 3 2 1 2 3 4 5
  5 4 3 2 3 4 5
    5 4 3 4 5
      5 4 5
        5

In [39]:
n=int(input('enter value of n'))
st=n
sp=0
for x in range(n):
    num=1
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num=num+1
    print()
    if x<n//2:
        st=st-2
        sp=sp+1
    else:
        st=st+2
        sp=sp-1

enter value of n5
1 2 3 4 5
  1 2 3
    1
  1 2 3
1 2 3 4 5

In [43]:
n=7
st=1
sp=n//2
for x in range(1,n+1):
    num=1
    if x%2==0:
        num=2
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        if x%2==0:
            num=num+2 if z<st//2 else num-2
        else:
            num=num+1 if z<st//2 else num-1
    print()
    if x<n//2+1:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    2 4 2
  1 2 3 2 1
2 4 6 8 6 4 2
  1 2 3 2 1
    2 4 2
      1

In [14]:
n=5
st=1
sp=n//2
num=n
for i in range(n):
    num=st//2+1
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

    1
  2 1 2
3 2 1 2 3
  2 1 2
    1

In [18]:
n=10
for i in range(1,n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
n=10
for j in range(n,0,-1):
    print(j)

10
9
8
7
6
5
4
3
2
1

In [73]:
c=10
d=c
for i in range(1,c+1):
    print(f'{i}     {d}')
    d-=1

1     10
2     9
3     8
4     7
5     6
6     5
7     4
8     3
9     2
10     1

In [11]:
n=1
while n<11:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [76]:
n=-10
while n<0:
    print(n)
    n+=1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [79]:
c=5
d=1
for i in range(1,c+1):
    print('* '*d)
    d=d+1 if i<c//2+1 else d-1

*
* *
* * *
* *
*

In [88]:
n=5
for i in range(n):
    for j in range(1,n+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [89]:
n=5
for i in range(n):
    for j in range(n,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [90]:
n=5
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(j,end=' ')
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [91]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [92]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j,end=' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [93]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [94]:
n=5
for i in range(n+1,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [97]:
n=5
for i in range(n):
    j=n
    while(j!=0):
        print(j,end=' ')
        j-=1
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [103]:
n=5
a=n-1
for i in range(n,0,-1):
    print('  '*a,end='')
    for j in range(i,n+1):
        print(j,end=' ')
    print()
    a-=1

        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [105]:
n=5
a=0
for i in range(n,0,-1):
    print('  '*a,end='')
    for j in range(i,0,-1):
        print(j,end=' ')
    print()
    a+=1

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [106]:
n=5
a=n-1
for i in range(2,n+2):
    print('  '*a,end='')
    for j in range(1,i):
        print(j,end=' ')
    print()
    a-=1

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [107]:
n=5
a=0
for i in range(n+1,1,-1):
    print('  '*a,end='')
    for j in range(1,i):
        print(j,end=' ')
    print()
    a+=1

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [108]:
n=5
a=n-1
for i in range(1,n+1):
    print('  '*a,end='')
    for j in range(i,0,-1):
        print(j,end=' ')
    print()
    a-=1

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [109]:
n=5
c=0
for i in range(n+1,1,-1):
    print('  '*c,end='')
    for j in range(1,i):
        print(j,end=' ')
    print()
    c+=1

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [110]:
n=5
c=0
for i in range(1,n+1):
    print('  '*c,end='')
    for j in range(i,n+1):
        print(j,end=' ')
    print()
    c+=1

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [111]:
n=5
c=0
for i in range(n):
    print('  '*c,end='')
    for j in range(n,i,-1):
        print(j,end=' ')
    print()
    c+=1

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [113]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [114]:
n=5
c=n-1
for i in range(1,n+1):
    print('  '*c,end='')
    for j in range(i,0,-1):
        print(j,end=' ')
    print()
    c-=1

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [115]:
n=5
c=n-1
for i in range(n,0,-1):
    print('  '*c,end='')
    for j in range(i,n+1):
        print(j,end=' ')
    print()
    c-=1

        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [116]:
n=5
c=n-1
for i in range(2,n+2):
    print('  '*c,end='')
    for j in range(1,i):
        print(j,end=' ')
    print()
    c-=1

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [129]:
n=5
c=n-1
for i in range(n-1,-1,-1):
    print('  '*c,end='')
    for j in range(n,i,-1):
        print(j,end=' ')
    print()
    c-=1

        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [11]:
def Fib(n):
    f,s=0,1
    if n==1 or n==2:
        return n-1
    for i in range(0,n-2):
        t=f+s
        f,s=s,t
    return t
for i in range(1,11):
    print(Fib(i),end=' ')

0 1 1 2 3 5 8 13 21 34

In [5]:
l=[]
e=0
o=0
def fib(n):
    f,s=0,1
    for i in range(0,n):
        t=f+s
        f,s=s,t
    return t
for i in range(1,10):
    l.append(fib(i))
    e=l[0::2]
    o=l[1::2][::-1]
l1=e+o
n=9
st=1
sp=n//2
for i in range(n):
    for j in range(sp):
        print('  ',end=' ')
    for k in range(st):
        print(l1[i],end=' ')
    print()
    if i<n//2:
        sp+=1
    else:
        sp-=1

            1
               3
                  8
                     21
                        55
                     34
                  13
               5
            2

In [4]:
d=[1,3,8,21,55,34,13,5,2]
n=9
i=0
sp=0
m=n
while n!=0:
    print('   '*sp,end=' ')
    print(d[i],end='')
    print()
    if n>m//2+1:
        sp+=1
    else:
        sp-=1
    n-=1
    i+=1

 1
    3
       8
          21
             55
          34
       13
    5
 2

In [41]:
l=[]
for n in range(1,100):
    if n>1:
        for i in range(2,n//2+1):
            if n%i==0:
                break
        else:
            l.append(n)
print(l[2::3])

[5, 13, 23, 37, 47, 61, 73, 89]

In [39]:
c=[]
for i in range(1,20000):
    num=i
    r=0
    while i!=0:
        rem=i%10
        r=r*10+rem
        i=i//10
    if num==r:
        if num>1:
            for d in range(2,num//2+1):
                if num%d==0:
                    break
            else:
                c.append(num)
print(c[2::2])

[5, 11, 131, 181, 313, 373, 727, 787, 919, 10301, 10601, 11411, 12721, 13331, 13931, 14741, 15551, 16361, 16661, 17971, 18481, 19891]

In [11]:
n=5
a=0
for i in range(n+1,1,-1):
    print('  '*a,end='')
    for j in range(1,i):
        print(j,end=' ')
    print()
    a+=1

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [19]:
n=5
a=1
for i in range(n+1,1,-1):
    print(d*a,end=' ')
    for j in range(1,i):
        print(j,end=' ')
    print()
    a+=1
    d+=1

0 1 2 3 4 5
2 1 2 3 4
6 1 2 3
12 1 2
20 1

In [11]:
from functools import reduce
d=[1,2,3,4,5,7,11]
print(reduce(lambda x,y:x+y,d))

33

In [1]:
n=5
a=1
for i in range(n,0,-1):
    for j in range(0,1,-1):
        print(a*j,end='')
        for k in range(1,i+1):
            print(k,end=' ')
        print()
        a+=1

In [8]:
n=5
st=1
sp=n//2
for i in range(n):
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print('*',end=' ')
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

    *
  * * *
* * * * *
  * * *
    *

In [9]:
l=[]
e=0
o=0
def fib(n):
    f,s=0,1
    for i in range(0,n):
        t=f+s
        f,s=s,t
    return t
for i in range(1,10):
    l.append(fib(i))
    e=l[0::2]
    o=l[1::2][::-1]
l1=e+o
n=9
st=1
sp=n//2
for i in range(n):
    for j in range(sp):
        print('  ',end=' ')
    for k in range(st):
        print(l1[i],end=' ')
    print()
    if i<n//2:
        sp+=1
    else:
        sp-=1

            1
               3
                  8
                     21
                        55
                     34
                  13
               5
            2

In [21]:
n=7
num=n
for i in range(n):
    num=st
    for j in range(n):
        if i+j==3 or j-i==3 or i-j==3 or i+j==9:
            print(num,end=' ')
        else:
            print(' ',end=' ')
    print()

      1
    1   1
  1       1
1           1
  1       1
    1   1
      1

In [26]:
n=5
num=n
st=1
sp=n//2
for i in range(n):
    num=1
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num+1 if k<st//2 else num-1
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

    1
  1 2 1
1 2 3 2 1
  1 2 1
    1

In [15]:
n=5
sp=0
for c in range(n+1,1,-1):
    print(' '*sp,end='')
    for d in range(1,c):
        print(d,end='')
    print()
    sp+=1

12345
 1234
  123
   12
    1

In [40]:
n=5
sp=0
for c in range(1,n+1):
    print(' '*sp,end='')
    for d in range(c,n+1):
        print(d,end='')
    print()
    sp+=1

12345
 2345
  345
   45
    5

In [13]:
n=5
st=1
sp=n-1
for i in range(n):
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print('*',end=' ')
    print()
    if i<n//2:
        sp+=1
    else:
        sp-=1

        *
          *
            *
          *
        *

In [8]:
n=5
st=1
sp=n//2
for a in range(n):
    num=st//2+1
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        print(num,end=' ')
        num=num-1 if c<st//2 else num+1
    print()
    if a<n//2: 
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

    1
  2 1 2
3 2 1 2 3
  2 1 2
    1

In [7]:
n=5
sp=0
st=5
num=n
for i in range(n):
    num=5
    for k in range(sp):
        print(' ',end=' ')
    for s in range(st):
        print(num,end=' ')
        num-=1
    print()
    st-=1
    sp+=1

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [8]:
n=int(input(''))
num=n
res=0
while n!=0:
    rem=n%10
    res=res+rem
    n=n//10
print(f'{res} is add of digits of {num}')

123
6 is add of digits of 123

In [8]:
n=int(input('enter a value:'))
for a in range(n):
    for b in range(n):
        if a==0 or a==n-1 or b==0 or b==n-1:
            print('C',end=' ')
        elif (a==n//2 and b==n//2):
            print('D',end=' ')
            
        else:
            print(' ',end=' ')
    print()

enter a value:7
C C C C C C C
C           C
C           C
C     D     C
C           C
C           C
C C C C C C C

In [17]:
#method over Loading
class Student():
    def sum(self,a,b):
        return a+b
    def sum(self,a,b,c=0):
        return a+b+c
ob=Student()
print(ob.sum(1,2))

3

In [32]:
#method overidinng
class Bank():
    def __init__(self,n,a):
        self.name=n
        self.age=a
    def Display(self):
        print('The Bank customer name is ',self.name)
        print('the Bank customer age is ',self.age)
#ob=Bank('chardevi',23)
#ob.Display()
class Bank1(Bank):
    def __init__(self,n,a,b,add):
        super().__init__(n,a)
        self.balance=b
        self.addhar=add
    def Display(self):
        super().Display()
        '''print('the customer name is',self.name)
        print('the customer age is',self.age)'''
        print('the customer balance is',self.balance)
        print('the customer adhar is',self.addhar)
        
ob=Bank1('chardevi',23,10000000000000,676876868)
ob.Display()

The Bank customer name is  chardevi
the Bank customer age is  23
the customer balance is 10000000000000
the customer adhar is 676876868

In [6]:
n=7
st=1
sp=n//2
num=n
for i in range(n):
    num=st//2+1
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4
  3 2 1 2 3
    2 1 2
      1

In [13]:
n=9
num=n
st=1
sp=n//2
for i in range(n):
    num=5
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

        5
      5 4 5
    5 4 3 4 5
  5 4 3 2 3 4 5
5 4 3 2 1 2 3 4 5
  5 4 3 2 3 4 5
    5 4 3 4 5
      5 4 5
        5

In [15]:
for i in range(22,10,-1):
    print(i)

22
21
20
19
18
17
16
15
14
13
12
11

In [2]:
n=5
st=1
sp=n-1
num=n
for i in range(n):
    num=st
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num-=1
    print()
    sp-=1
    st+=2

        1
      3 2 1
    5 4 3 2 1
  7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [7]:
n=7
num=n
st=1
sp=n//2
for i in range(n):
    num=st//2+1
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4
  3 2 1 2 3
    2 1 2
      1

In [2]:
n=5
num=n
for i in range(1,n+1):
    num=i
    for j in range(n-i+1):
        print(num,end=' ')
        num+=1
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [18]:
d='prasad'
for a in range(6):
    for b in range(6-a):
        print(d[6-b-1],end=' ')
    print()

d a s a r p
d a s a r
d a s a
d a s
d a
d

In [7]:
d='prasad'
a=len(d)
for i in range(a):
    print(d[i:a][::-1])

dasarp
dasar
dasa
das
da
d

In [52]:
n=5
a=n-1
for i in range(n-1,-1,-1):
    print(' '*a,end='')
    for j in range(n,i,-1):
        print(j,end='')
    print()
    a-=1

    5
   54
  543
 5432
54321

In [58]:
for i in range(2):
    print(i)
    print('*'*50)
    for j in range(3):
        print(i,j)

0
**************************************************
0 0
0 1
0 2
1
**************************************************
1 0
1 1
1 2

In [62]:
for a in range(2):
    print(a)
    print('*'*50)
    for j in range(3):
        print(j)
        print('!'*50)
    for k in range(3):
        print(k)
        print('@'*50)

0
**************************************************
0
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
2
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
2
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
1
**************************************************
0
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
2
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
2
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [64]:
n=7
st=1
num=n
for i in range(n):
    num=num
    for j in range(st):
        print(num,end=' ')
        num+=1
    print()
    if i<n//2:
        st+=1
    else:
        st-=1

7
8 9
10 11 12
13 14 15 16
17 18 19
20 21
22

In [38]:
def print_pattern():
    num = 1
    for i in range(1, 7):
        for j in range(1, i + 1):
            print(num, end=" ")
            num += 1
        print()

    for i in range(6, 3, -1):
        for j in range(1, i):
            print(num, end=" ")
            num += 1
        print()
print_pattern()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26
27 28 29 30
31 32 33

In [29]:
def print_pattern():
    num = 1
    for i in range(1, 7):
        for j in range(1, i+1):
            print(num, end=" ")
            num += 1
        print()

    for i in range(5, 1, -1):
        for j in range(1, i):
            print(num, end=" ")
            num += 1
        print()

print_pattern()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25
26 27 28
29 30
31

In [8]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print('',end=' ')
    for k in range(i+1):
        print('*',end=' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
for i in range(4):
    for j in range(5):
        if (i==0 and j==3) or (i==1 and j%2==0) or (i==2 and j%2!=0) or (i==3 and j%2==0):
            print('*',end=' ')
        else:
            print(' ',end='')
    print()

   *
*  *  *
 *  *
*  *  *

In [3]:
n=4
for i in range(n):
    for j in range(i+1):
        print('',end=' ')
    for k in range(n-j):
        print('*',end=' ')
    print()

 * * * *
  * * *
   * *
    *

In [19]:
n=7
sp=n-1
st=1
for i in range(n):
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        if k%2==0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
    st+=2
    sp-=1

            *
          *   *
        *   *   *
      *   *   *   *
    *   *   *   *   *
  *   *   *   *   *   *
*   *   *   *   *   *   *

In [18]:
n=7
sp=0
st=2*n-1
for a in range(n):
    for b in range(sp):
        print(' ',end=' ')
    for c in range(st):
        if c%2==0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
    st-=2
    sp+=1

*   *   *   *   *   *   *
  *   *   *   *   *   *
    *   *   *   *   *
      *   *   *   *
        *   *   *
          *   *
            *

In [31]:
n=5
sp=n//2
st=1
for i in range(n):
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        if k%2==0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

    *
  *   *
*   *   *
  *   *
    *

In [4]:
n=7
sp=n//2
st=1
for i in range(n):
    num=st//2+1
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4
  3 2 1 2 3
    2 1 2
      1

In [17]:
n=5
for a in range(1,n+1):
    for b in range(1,n+1):
        if (a==n) or (b==n) or (a==1) or (b==1) or (a+b==2):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [13]:
n=int(input('enter number'))
k=0
for a in range(n):
    k+=a
num=n+k
for i in range(n):
    for j in range(i+1):
        print(format(num,'>3'),end=' ')
        num-=1
    print()

enter number5
 15
 14  13
 12  11  10
  9   8   7   6
  5   4   3   2   1

In [8]:
n=int(input('enter number:'))
v=0
for i in range(n):
    v+=i
num=n+v
for i in range(n):
    for j in range(i+1):
        print(format(num,'>3'),end=' ')
        num-=1
    print()

enter number:5
 15
 14  13
 12  11  10
  9   8   7   6
  5   4   3   2   1

In [12]:
n=int(input('enter number:'))
for i in range(n):
    num=i+1
    st=n-1
    for j in range(i+1):
        print(format(num,'>3'),end=' ')
        num+=st
        st-=1
    print()

enter number:5
  1
  2   6
  3   7  10
  4   8  11  13
  5   9  12  14  15

In [13]:
n=int(input('enter number:'))
for i in range(n):
    for j in range(i+1):
        x=0
        for k in range(j):
            x=x+n-k
        if j%2==0:
            print(x+i-j+1,end=' ')
        else:
            print(x+n-i,end=' ')
    print()

enter number:5
1
2 9
3 8 10
4 7 11 14
5 6 12 13 15

In [2]:
n=int(input('enter number:'))
v=0
for i in range(n):
    v+=i
num=n+v
for i in range(n):
    for j in range(i+1):
        print(format(num,'>3'),end=' ')
        num-=1
    print()

enter number:7
 28
 27  26
 25  24  23
 22  21  20  19
 18  17  16  15  14
 13  12  11  10   9   8
  7   6   5   4   3   2   1