In [1]:
a,b,c=11,12,13
if a>b:
    if a>c:
        print('a is highest')
    else:
        print('c is highest')
else:
    if b>c:
        print('b is highest')
    else:
        print('c is highest')

c is highest

In [2]:
n=5
num=n
st=1
sp=n-1
for i in range(n):
    #num=st//2+1
    num=i+1
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    st+=2
    sp-=1

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [27]:
n=7
sp=n//2
st=1
for f in range(n):
    num=st//2+1
    for g in range(sp):
        print(' ',end=' ')
    for h in range(st):
        print(num,end=' ')
        num=num+1 if h<st//2 else num-1
    print()
    if f<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      1
    2 3 2
  3 4 5 4 3
4 5 6 7 6 5 4
  3 4 5 4 3
    2 3 2
      1

In [1]:
def even(n):
    return n%7==0
L=[11,14,21,22,25,77,71,99]
x=list(filter(even,L))
print(x)

[14, 21, 77]

In [10]:
def prime(n):
    if n>1:
        for x in range(2,n//2+1):
            if n%x==0:
                return False
        else:
            return True
A=[10,11,22,21,2,5,7,99,91,29]
x=(list(filter(prime,A)))
print(x)

[11, 2, 5, 7, 29]

In [26]:
def palindrome(n):
    num=n
    res=0
    while n>0:
        rem=n%10
        res=res*10+rem
        n=n//10
    if res==num:
        return True
    else: 
        return False
D=[11,121,22,57,72,77,97,99]
print(list(filter(palindrome,D)))
print(list(map(palindrome,D)))

[11, 121, 22, 77, 99]
[True, True, True, False, False, True, False, True]

In [22]:
def armstrong(n):
    num=n
    res=0
    l=len(str(n))
    while n>0:
        rem=n%10
        res=res+rem**l
        n=n//10
    if res==num:
        return True
    else:
        return False
K=[11,153,89,98,22]
print(list(filter(armstrong,K)))
print(list(map(armstrong,K)))

[153]
[False, True, False, False, False]

In [3]:
n = int(input("enter number"))

if n % 2 == 1:
    print("Weird")
elif n in range(2,6):
    print("Not Weird")
elif n in range(6,21):
    print("Weird")
else:
    print("Not Weird")

enter number7
Weird

In [3]:
n=7
sp=n//2
st=1
for x in range(n):
    num=5
    for y in range(sp):
        print(' ',end=' ')
    for z in range(st):
        print(num,end=' ')
        num=num+1 if z<st//2 else num-1
    print()
    if x<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

      5
    5 6 5
  5 6 7 6 5
5 6 7 8 7 6 5
  5 6 7 6 5
    5 6 5
      5

In [23]:
if True:
    print('a')

a

In [21]:
l=[1,2,3,4,5,6]
devi=False
for i in range(len(l)):
    for j in range(len(l)):
        if l[i]+l[j]==9:
            print('Yes')
            devi=True
            break
    if devi:
        break
else:
    print('No')

Yes

In [10]:
n=145  #
num=n  
res=0
while n!=0
    rem=n%10
    n//=10
    fact=1
    for i in range(1,rem+1):
        fact*=i
    res+=fact
if num==res:
    print('Special')
else:
    print('Not')

Special

In [7]:
s='deVI iS gOOd At @cell'
res=''
for i in range(len(s)):
    if 'a'<=s[i]<='z':
        res+=chr(ord(s[i])-32)
    elif 'A'<=s[i]<='Z':
        res+=chr(ord(s[i])+32)
    else:
        res+=s[i]
print(res)

DEvi Is GooD aT @CELL

In [47]:
n=int(input('enter a  number:'))
for a in range(n//2+1):
    if a*a==n:
        print(a)
        print('yes it is pefect number')
        break
else:
    print('no it is not perfect number')

enter a  number:9
3
yes it is pefect number

In [68]:
s='BANANA'    #ANA 
chardevi=0
for a in range(len(s)):
     for b in range(a+1,len(s)+1):
            #print(a,':',b)
            N=s[a:b]
            #print(N)
            if N==N[::-1] and N!=s[a] and len(N)<=3 and N.startswith('A'):
                chardevi+=1
    
                print(N)
print(chardevi)

ANA
ANA
2

In [1]:
# ANA ANA

In [27]:
l=[2,5,7,11,29,92]
L=[l[a] for a in range(len(l)//2)]
print(L)

[2, 5, 7]

In [21]:
l=[2,5,7,11,29,92]
m=[]
for a in range(len(l)//2,len(l)):
    m.append(l[a])
print(m)

[11, 29, 92]

In [29]:
l=[2,5,7,11,29,92]
L=[l[a] for a in range(len(l)//2,len(l))]
print(L)

[11, 29, 92]

In [35]:
n=7
num=n
sp=n//2
st=1
for i in range(n):
    for j in range(sp):
        print(' ',end=' ')
    for k in range(st):
        print('*',end='')
    print()
    if i<n//2:
        sp+=1
    else:
        sp-=1

      *
        *
          *
            *
          *
        *
      *

In [39]:
n=int(input('enter a value here:'))
for a in range(n):
    for b in range(n):
        if (a==b and a<=n//2) or a+b==n-1 and a>n//2:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

enter a value here:7
*
  *
    *
      *
    *
  *
*

In [61]:
S='DEVIC'
L=[1,2,3,4,5]

for a in range(5):
    for b in range(5):
        if b+a==4 and a>=5//2 or a==b and a<5//2:
            print(L[a],end=' ')
        else:
            print(' ',end=' ')
    print()

1
  2
    3
  4
5

In [66]:
L=[7,11,92,29,3,2,5]
for  a in range(len(L)-1):
    min_value=a
    for b in range(a+1,len(L)):
        if L[min_value]>L[b]:
            print('before assiginig  min_value is  ',min_value)
            min_value=b
            print('after assiginig  min_value is  ',min_value)
    print('*'*50)
    print('before swaping of the list ',L)
    L[a],L[min_value]=L[min_value],L[a]
    print('after swaping of the list ',L)
    print('*'*50)
print(L)

before assiginig  min_value is   0
after assiginig  min_value is   4
before assiginig  min_value is   4
after assiginig  min_value is   5
**************************************************
before swaping of the list  [7, 11, 92, 29, 3, 2, 5]
after swaping of the list  [2, 11, 92, 29, 3, 7, 5]
**************************************************
before assiginig  min_value is   1
after assiginig  min_value is   4
**************************************************
before swaping of the list  [2, 11, 92, 29, 3, 7, 5]
after swaping of the list  [2, 3, 92, 29, 11, 7, 5]
**************************************************
before assiginig  min_value is   2
after assiginig  min_value is   3
before assiginig  min_value is   3
after assiginig  min_value is   4
before assiginig  min_value is   4
after assiginig  min_value is   5
before assiginig  min_value is   5
after assiginig  min_value is   6
**************************************************
before swaping of the list  [2, 3, 92, 29, 11, 7, 5]
after swaping of the list  [2, 3, 5, 29, 11, 7, 92]
**************************************************
before assiginig  min_value is   3
after assiginig  min_value is   4
before assiginig  min_value is   4
after assiginig  min_value is   5
**************************************************
before swaping of the list  [2, 3, 5, 29, 11, 7, 92]
after swaping of the list  [2, 3, 5, 7, 11, 29, 92]
**************************************************
**************************************************
before swaping of the list  [2, 3, 5, 7, 11, 29, 92]
after swaping of the list  [2, 3, 5, 7, 11, 29, 92]
**************************************************
**************************************************
before swaping of the list  [2, 3, 5, 7, 11, 29, 92]
after swaping of the list  [2, 3, 5, 7, 11, 29, 92]
**************************************************
[2, 3, 5, 7, 11, 29, 92]

In [6]:
x=10
def foo():
    global x
    x=20
foo()
print(x)

20

In [4]:
def fib(n):
    f,s=0,1
    if n==1 or n==2:
        return n-1
    for i in range(0,n-2):
        t=f+s
        f,s=s,t
    return t
for i in range(1,11):
    print(fib(i),end=' ')

0 1 1 2 3 5 8 13 21 34

In [5]:
def fib(n):
    if n==1 or n==2:
        return n-1
    return fib(n-1)+fib(n-2)
print(fib(13))

144

In [6]:
d={1:4,2:8,5:16,8:32}
r=list(d.values())
print(r[2])

16

In [10]:
d={2:'devi',7:'dhoni'}
for i,j in d.items():
    print(i,j)

2 devi
7 dhoni

In [4]:
n=11
res=0
p=1
while n!=0:
    rem=n%2
    n//=2
    res=res+rem*p
    p=p*10
print(res)

1011

In [7]:
n=1011
res=0
p=0
while n!=0:
    rem=n%10
    n//=10
    res=res+rem*2**p
    p+=1
print(res)

11

In [17]:
def prime(n):
    if n==11:
        return 
    print(n)
    prime(n+1)
prime(1)

1
2
3
4
5
6
7
8
9
10

In [18]:
def prime(n):
    if n==0:
        return 
    print(n)
    prime(n-1)
prime(11)

11
10
9
8
7
6
5
4
3
2
1

In [30]:
def sum(n):
    if n==0:
        return 0
    return n%10+sum(n//10)
print(sum(12521))

11

In [34]:
def prod(n):
    if n==0:
        return 1
    return n%10*prod(n//10)
print(prod(1237))

42

In [28]:
def fact(a):
    if a==1 or a==0:
        return 1
    return a*fact(a-1)
print(fact(5))

120

In [1]:
def fib(n):
    if n==1 or n==2:
        return n-1
    return fib(n-1)+fib(n-2)
print(fib(11))

55

In [7]:
def special(a):
    res=0
    while a!=0:
        fact=1
        rem=a%10
        for i in range(1,rem+1):
            fact=fact*i
        res=res+fact
        a//=10
    return res
a=145
if a==special(a):
    print('special')
else:
    print('not special')

special

In [ ]:
                                   💖CHARISHMA💝DEVIPRASAD💖

In [ ]:
                                          💖CHARDEVI💖